body{
    background: #ddd;
}

.clique{
    cursor:pointer;
    font-size:18px;
}

.info{
    color:#ff0000;
    font-size:12px;
    font-weight: bold;
}

.formAddUser button{
    background:#fff;
    border:0;
    height:39px;
}

.formAddUser input{
    font-size:18px;
    padding:5px;
    height:30px;
    border:0;
}